Django==1.9.9
Pillow==3.3.0
Unidecode==0.04.19
Willow==0.3.1
beautifulsoup4==4.5.1
django-modelcluster==2.0
django-overextends==0.4.1
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.4.1
html5lib==0.999999
psycopg2==2.6.2
pytz==2016.6.1
six==1.10.0
sphinx-me==0.3
wagtail==1.5.3
